body {
	background-image: url("img_html/background.png");
	color:white;
	font-family : Tahoma;
}
h1 {
	color:white;

}
img{
	border-width: 1px;
	border-color : white;
	border-style : solid;
}

ul {
	width:120px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #663300;
    background-color: #f3f3f3;
    text-align: center;
}

li.nav {
    width: 120px;

}


li a {
    display: block;
    color: #666;
    text-align:center;
    padding: 14px 30px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: grey;
    text-align:center;
    text-decoration: none;
    color:white;
}

li a.active {
    color: white;
    background-color:black;
 
}
nav {
    float:left;
    width:120px;
}
div.content{
    padding:50px; 
    margin:0 110px; 
    min-width:480px
}
a {
    padding:10px;

}
.werk {
    max-width:600px;
    list-style-type: none;
}
#popetje{
    float: right;
}